# SPDX-License-Identifier: GPL-3.0-or-later
# Copyright © 2025 Giacomo Leidi <goodoldpaul@autistici.org>

if has guix; then
  eval "$(guix shell --rebuild-cache -m manifest.scm --search-paths)"
fi

clear

if has git-cal; then
  git-cal --author="$(git config user.name)"
fi
