# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  pull_request:
    paths-ignore:
        - '.gitignore'
        - README.*
        - LICENSE
        - 'etc/news.scm'
        - 'etc/snippets/**'
        - scripts/**
        - .dir-locals.el
        - .guix-authorizations
        - .guix-channel
        - doc/**

  push:
    # Sequence of patterns matched against refs/tags
    branches: ["main"]
    paths-ignore:
        - '.gitignore'
        - README.*
        - LICENSE
        - 'etc/news.scm'
        - 'etc/snippets/**'
        - scripts/**
        - .dir-locals.el
        - .guix-authorizations
        - .guix-channel
        - doc/**

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  run-tests:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v6
      # Runs a set of commands using the runners shell
      - name: Run unit tests
        run: guix shell guile make -- make check

      - name: Run integration tests
        run: guix build -L $(pwd)/modules -m etc/manifests/system-tests.scm
